body {
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: #ff6;
  background-color: black;
  overflow: hidden;
}

.episode {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

h3 {
  text-align: center;
}



.text {
  position: absolute;
  top: 100%;
  animation: jawawars 30s linear 0s infinite;

}

@keyframes jawawars {
  0% { top: 100%; }
  100% { top: 0%; }
}