
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  height: 1012px;
  background: url("../img/Layer 1 5.png") center;
  background-size: cover;
}

.nav {
  width: 100%;
  height: 120px;
  background-color: #5E5D58;
  opacity: 0.6;
}

.nav-container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  position: relative;
}

.logo-h {
  position: absolute;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 31px;
  top: 19px;
  left: 12px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 305px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.a-nuv {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 48px;
  margin-right: 22px;
}

li:last-child .a-nuv {
  margin-right: 0;
}

.a-nuv:hover {
  color: #18CFAB;
  border-bottom: 3px solid #18CFAB;
}

.search {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.sp {

  font-size: 35px;
  line-height: 1px;
}

.the-ham {
  color: white;
}

.wordpress {
  color: #18CFAB;
}

.we-are {
  font-size: 78px;
  line-height: 1px;
  color: white;
}

.just {
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;
  margin-top: 22px;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 32px;
  color: white;
}

.button {
  padding: 11px 0;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  border-radius: 6px;
  border-top: 5px solid white;
  margin-top: 100px;
}

.explore {
  background-color: #18CFAB;
  width: 135px;
  margin-right: 26px;
}

.purchase {
  background-color: #00CBF6;
  width: 145px;
}

.options {
  width: 1928px;
  margin: 0 auto;
  display: flex;
  padding-top: 8px;
}

.our-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-top: 83px;
}

.our-title:after {
  content: "";
  display: block;
  width: 76px;
  height: 2px;
  margin: 32px auto 64px auto;
  border-top: 1px solid #18CFAB;
  border-bottom: 1px solid #18CFAB;
  transform: skewX(70deg);
}

.service-menu {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.a-service {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  text-decoration: none;
  padding: 16px 40px;
  position: relative;
}

.active-click:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #18CFAB;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.active-click {
  color: white;
  background-color: #18CFAB;
}

.display-service {
  display: block;
}

.display-service-none {
  display: none;
}

.hov:hover {
  border: 1px solid #18CFAB;
}

.service-img {
  margin-right: 15px;
}

.service-text {
  color: #777777;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.service-graphic {
  display: flex;
  align-items: flex-start;
}

.service-photo {
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

.bg-centre {
  height: 476px;
  background: url("../img/BG.png") center;
  background-size: cover;
}

.centre-title {
  color: #18CFAB;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  padding-top: 127px;
  margin-bottom: 12px;
}

.centre-text {
  text-align: center;
  color: #D8D8D8;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  margin: 0;
}

.btn-centre {
  padding: 11px 0;
  color: white;
  background-color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  border-radius: 6px;
  border-top: 5px solid white;
  width: 168px;
  margin-left: 490px;
  margin-top: 67px;
}

.hove:hover {
  color: #18CFAB;
  border: 1px solid #18CFAB;
}

.amazing-pictures {
  display: grid;
  grid-template-rows:repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  font-size: 0;
}

.amazing-pictures-hover {
  position: relative;
  width: 295px;
  height: 211px;
  border-top: 3px solid #18CFAB;
  background-color: #E9EDEF;
  opacity: 0;
}

.amazing-pictures-hover:hover {
  opacity: 1;
  transition: 1s;

}

.circle {
  position: absolute;
  margin-left: 102px;
  margin-top: 48px;
}

.chain {
  position: absolute;
  left: 116px;
  top: 61px;
}

.circle-green {
  position: absolute;
  left: 148px;
  top: 49px;
}

.cub {
  position: absolute;
  width: 12px;
  height: 11px;
  background-color: white;
  left: 163px;
  top: 64px;
}

.amazing-hover-title {
  text-transform: uppercase;
  color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-top: 113px;
  margin-bottom: 0;
}

.amazing-hover-text {
  color: #8A8A8A;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin: 0;
}

.my-graphic-one {
  background: url("../img/320-285x211.jpg");
  background-size: cover;
}

.my-graphic-two {
  background: url("../img/Layer 24.png");
  background-size: cover;
}

.my-graphic-three {
  background: url("../img/Layer 25.png");
  background-size: cover;
}

.my-graphic-four {
  background: url("../img/Layer 26.png");
  background-size: cover;
}

.my-web-one {
  background: url("../img/Layer 27 (1).png");
  background-size: cover;
}

.my-web-two {
  background: url("../img/Layer 28.png");
  background-size: cover;
}

.my-web-three {
  background: url("../img/Layer 29.png");
  background-size: cover;
}

.my-web-four {
  background: url("../img/Layer 30.png");
  background-size: cover;
}

.my-landing-one {
  background: url("../img/Layer 31.png");
  background-size: cover;
}

.my-lending-two {
  background: url("../img/Layer 32.png");
  background-size: cover;
}

.my-lending-three {
  background: url("../img/Layer 33.png");
  background-size: cover;
}

.my-lending-four {
  background: url("../img/Layer 34.png");
  background-size: cover;
}

.amazing {
  background-color: #E9EDEF;
  padding-top: 1px;
}

.btn-amazing {
  padding: 0 3px;
  color: white;
  background-color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  border-radius: 6px;
  margin-left: 520px;
  margin-top: 67px;
  margin-bottom: 99px;
  border-color: #18CFAB;
}

.breaking-block {
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 325px;
}

.breaking-page {
  position: relative;
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breaking-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  margin: 0;
}

.breaking-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  margin: 0;
}

.square {
  position: absolute;
  right: 1px;
  color: white;
  width: 70px;
  height: 68px;
  background-color: #203E38;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-breaking {
  padding: 10px;
}

.feedback {
  height: 853px;
  background: url("../img/Layer 333.png");
  background-size: cover;
}

.feed {
  color: white;
}

.shape {
  margin-left: 555px;
  margin-top: 50px;
}

.carousel-vis {
  width: 1160px;
  height: 327px;
  overflow: hidden;
}

.carousel-line {
  display: flex;
  align-items: stretch;
  width: 4640px;
  height: 327px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.feedback-text {
  color: #BBBBBB;
  text-align: center;
  margin-top: 36px;
}

.my-people {
  width: 100%;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #18CFAB;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}

.profession {
  color: #BBBBBB;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 50px;
}

.photo-big {
  border: 8px solid #30544d;
  border-radius: 50%;
  width: 120px;
}

.str {
  width: 31px;
  height: 31px;
  border: 1px solid white;
}

.str:hover {
  background-color: #18CFAB;
}

.photo-small {
  border: 4px solid #30544d;
  border-radius: 50%;
}

.small-images {
  display: flex;
  gap: 12px;
}

.small {
  transition: transform 0.6s ease-in-out;
}

.small.active {
  transform: translateY(-16px);
}

.str-left {
  margin: 8px 10px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 44px 360px;
}

.mini-gallery {
  display: grid;
  grid-template-rows:repeat(3, 92px);
  grid-template-columns: 124px 119px 115px;
  grid-gap: 3px;
}

.gallery-images {
  display: flex;
  flex-flow: column wrap;
  max-height: 1100px;
  gap: 20px;
}

.footer {
  width: 100%;
  height: 121px;
  background-color: #22353F;
  display: flex;
  align-items: center;
}

.footer-text {
  height: 26px;
  margin-left: 300px;
}

