
body {
  width: 1280px;
  margin-left: 98px;
  margin-right: 99px;
}

.title {
  width: 334px;
  height: 79px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  margin-top: 63px;
  margin-bottom: 38px;
  display: inline-block;
}

a {
  text-decoration: none;
}

.title-start {
  color: black;
}

.title-end {
  color: dodgerblue;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #35444F;
}

.navigation-list {
  display: flex;
  margin: 0;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding: 24px 0;
}

.navigation-list li a {
  color: white;
  border-left: 1px solid white;
  padding: 24px;
}

.navigation-list li:last-child a {
  border-right: 1px solid white;
}

.navigation-list li a:hover {
 background-color: #222F3A;
}

.main-block {
  display: flex;
  align-items: flex-start;
}

.aside {
  margin-top: 48px;
  border: 1px solid #beb5b5;
  color: #495863;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
 }

.aside-menu {
  width: 344px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}

.aside-menu li {
  padding-bottom:26px ;
  padding-top: 25px;
  padding-left: 44px;
}

.aside-menu li:last-child {
  padding-bottom: 30px;
}

.aside-menu li:hover {
  padding-left: 64px;
  color: black;
  background-color: #DBDBDB;
}

ul {
  list-style-type: none;
  padding: 0;
}

.article {
  display: flex;
  width: 885px;
  margin-left: 52px;
  margin-top: 48px;
  margin-right: 99px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.page {
  border: 1px solid #beb5b5;
  padding: 0 281px;
}

.sheep {
  transition: transform 0.6s ease-in-out;
  padding: 75px 0 73px ;
}

.sheep:hover {
  transform: scale(1.1);
}

.text-one {
  padding: 37px 0 34px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  background-color: #babdc1;
  padding: 0 40px;
}

.footer-nav-one {
  display: flex;
  align-items: center;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
}

.footer-nav-one li {
  margin-right: 16px;
  border-bottom-width: 3px ;
  border-bottom-color: transparent;
  border-bottom-style: solid;
}

.footer-nav-one li:hover {
  border-bottom-color: dodgerblue;
  }

.footer-nav-one li a {
  color: black;
}

.footer-nav-one li a:hover {
  color: dodgerblue;
}

.footer-nav-two {
  display: flex;
  align-items: center;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.footer-nav-one span:hover {
  color: dodgerblue;
}

