body {
  background: url("../img/background 1.png");
  width: 1366px;
  height: 768px;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1023px;
  margin: 0 178px 17px 165px;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  height: 61px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-title {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  align-items: flex-end;
}

.logo-logo {
  background-image: url("../img/logo 3.png");
  width: 53px;
  height: 44px;
}

.logo:hover .logo-logo {
  background-image: url("../img/logo 2.png");
}

.logo-milan {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  padding-bottom: 4px;
}

.logo:hover .logo-milan {
  color: #F26522;
}

.logo-holidays {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  place-self: flex-start;
}

.logo:hover .logo-holidays {
  color: #F26522;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.email-address {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 23px;
}

.email-address:hover {
  color: #F26522;
}

.tel {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding-top: 5px;
}

.tel:hover {
  color: #F26522;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  column-gap: 57px;
  }

.page-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.wrapper {
  width: 300px;
  height: 220px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    white,
    rgba(0, 0, 0, 0)
  ) 1;
  overflow: hidden;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.tile {
  background-color: #F26522;
  padding: 8px 16px;
  transition: all .6s ease-in-out;
}

.tile-price {
  display: flex;
  justify-content: space-between;
}

a:hover .wrapper .tile {
  transform: translateY(-62px);
}

.tile-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.tile-view {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.tile-view:after {
  content: '>';
  margin-left: 16px;
}

.page-title:hover {
  color: #F26522;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}