.green {
  width: 200px;
  height: 20px;
  border: 10px solid green;

}

.white {
  width: 200px;
  height: 20px;
  border: 10px solid gray;
}

.red {
  width: 200px;
  height: 20px;
  border: 10px solid red;
}