body {
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #313131;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 12px;
}

.logo img {
  padding: 22px 29px 21px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px;
  margin: 0 4px;
}

a:hover {
  color: #14B9D5;
}

.search-wrapper {
  width: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-background {
  background: url('../img/header-bg.jpeg') center;
  background-size: cover;
}

.title-background {
  text-align: center;
  padding-top: 164px;
  padding-bottom: 44px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.button-block {
  padding: 16px 19px 17px;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  border: none;
  width: 170px;
}

.button-green {
  background-color: yellowgreen;
  margin-right: 20px;
  margin-bottom: 74px;
}

.button-blue {
  background-color: #18B4CF;
}

.title-blue {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #18B4CF;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;
}

.container-full-width {
  background-color: #F2F2F2;
  padding: 50px 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.posts {
  display: flex;
  flex-flow: column wrap;
  max-height: 900px;
  gap: 30px;
}

.posts div {
  display: flex;
  flex-direction: column;
}

.posts p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 20px 8px;
}

.block-clients {
  height: 588px;
  background: url("../img/parallax-bg.jpeg") center;
  background-size: cover;
  margin-bottom: 49px;
}

.title-block-clients {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  padding-top: 106px;
  margin: 0;
}

.title-block-clients:after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #1db8f1;
  margin: 87px auto 52px;
  display: block;
}

.block-clients-logo {
  display: grid;
  margin: 0 510px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(1, 50px);
  justify-content: center;
}

.top-rated {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 49px;
}

.top-rated img {
  width: 100%;
}

.news-block {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:259px repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 43px;
}

.news {
  background-color: #F9F7F7;
}

.title-news {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0;
  padding-top: 14px;
}

.hotel {
  padding-top: 41px;
}

.text-news {
  padding: 14px;
}

.emirate {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
}

.egypt {
  grid-column-start: 1;
  grid-column-end: 3;
}

.maldives {
  grid-column-start: 3;
  grid-column-end: 5;
}

.spain {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
}

.text-news {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px;
  background-color: black;
  margin-top: 70px;
}

.footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: white;
  padding: 28px 0 0 367px;
}

.footer-logo {
  display: flex;
  padding: 28px 0 28px 450px;

}