$footerBackground: black;
$footerTextColor: #B9B9B9;
$footerTitleColor: #FEFEFE;
$mainTitleColor: #4E4E4E;
$mainBlockContentColor: #7C7C7C;
$mainBlockTextColor: #5C5C5C;
$navHoverColor: #57A4A4;
$navMenuColor: #F5F5F5;