@import "constants";

.instagram {
  margin: 13px 47px 42px 25px;

  .instagram__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__title-text {
    display: none;
    text-transform: uppercase;
    color: $mainTitleColor;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    margin-top: 38px;
    //margin-left: 296px;
  }

  .instagram__block {
    display: flex;
    margin-bottom: 42px;


    &-photo {
      height: auto;
      width: 100%;
      max-width: 301px;
      margin-right: 10px;

    }
  }

  //.instagram__block-photo:first-child {
  //  margin-top: 13px;
  //}

  .instagram__block-photo:not(:first-child) {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .instagram {
    margin: 13px 92px 42px 80px;

    .instagram__title {
      width: 768px;
      margin-bottom: 35px;


      &-text {
        display: block;
      }
    }

    .instagram__block {

      //margin-top: 35px;
      //margin-bottom: 50px;

      .instagram__block-photo {
        max-width: 249px;
      }

      .instagram__block-photo:not(:last-child) {
        display: block;
      }
      //
      //.instagram__block-photo:last-child {
      //  display: none;
      //}
    }
  }
}

@media screen and (min-width: 1200px) {

  .instagram {
    margin-left: 50px;
    margin-right: 50px;

    .instagram__title {
      min-width: 1170px;
    }

    .instagram__block {

      .instagram__block-photo {
        max-width: 285px;
      }

      .instagram__block-photo:last-child {
        display: block;
      }

    }
  }
}