@import "constants";
@import "mixins.scss";

.footer {
  background-color: $footerBackground;
  padding: 66px 0 70px;

  &__title {
    color: $footerTitleColor;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 22px;
  }

  &__text {
    text-align: center;
    color: $footerTextColor;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    margin: 31px 0 28px;

    &-item {
      @include footerIcon;
      &-icon {
        @include footerIconLabel;
      }
    }

    &-item-border-one {
      border: 1px solid #F8902E;
    }
    &-item-border-two {
      border: 1px solid #215aec;
    }
    &-item-border-three {
      border: 1px solid #45B0E3;
    }
    &-item-border-four {
      border: 1px solid #D97AB0;
    }
    &-item-border-five {
      border: 1px solid #CC212C;
    }
  }
}

@media screen and (min-width: 1200px) {

  .footer {
    max-width: 1270px;
  }

}