@import "_constants";

.main {
  margin: 0 28px 0 25px;


  .img {
    height: auto;
    width: 100%;

  }

  &__title {
    text-transform: uppercase;
    //width: 100%;
    color: $mainTitleColor;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin-top: 38px;
  }

  &__block {
    &-item {
      margin-top: 28px;

      &-title {
        color: $mainTitleColor;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
      }

      &-content {
        color: $mainBlockContentColor;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
      }

      &-text {
        color: $mainBlockTextColor;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        display: none;
      }


    }

    &-item:first-child {
      margin-top: 23px;
    }

    &-item:last-child {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin: 0 92px 0 80px;

    .main__block-item:last-child {
      display: flex;
    }

    .main__block-item {
      display: flex;

      .main__block-item-textblock {
        margin-left: 21px;

        .main__block-item-text {
          display: block;
        }
      }
    }

  }
}

@media screen and (min-width: 1200px) {

  .main {
    max-width: 1185px;
    margin:0 50px ;

    .main__block {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

  }
}