@import "constants";

@mixin footerIcon {
  position: relative;
  width: 34px;
  height: 34px;
  //border: 1px solid $borderColor;
  border-radius: 50%;
  margin: 6px;
}

@mixin footerIconLabel {
  position: absolute;
  top: 10px;
  right: 11px;
}

@mixin ulElement {
  text-transform: uppercase;
  color: $mainTitleColor;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  padding-left: 13px;
  cursor: context-menu;
}